@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<div class="text-center">
    <h1 class="display-4 fade-inWelcome">ようこそ！</h1>
    <p class="lead typewriter" data-text="主にC#を使用してWPFのアプリケーションを作成しています。F#やRustなども使用します。このサイトは、自分の作成したアプリケーションや、技術的なメモを公開しています。"></p>
    <h1 class="mt-10 fade-inWelcome" >作成したツール & ライブラリ</h1>
    <h2 class="mt-3 fade-inWelcome text-decoration-underline">YuLauncher</h2>
    <p class="m-2 fade-inWelcome">WPFで作成したランチャーアプリケーションです</p>
    <a class="fade-inWelcome mt-1" target="_blank" href="https://github.com/johmaru/Yu_Launcher">Github</a>
    <h2 class="mt-3 fade-inWelcome text-decoration-underline">SimpleTimeOverlay</h2>
    <p class="m-2 fade-inWelcome">WPFで作成した時間表示オーバーレイです</p>
    <a class="fade-inWelcome mt-1" target="_blank" href="https://github.com/johmaru/SimpleTimeOverlay">Github</a>
    <h2 class="mt-3 fade-inWelcome text-decoration-underline">JLogger</h2>
    <p class="m-2 fade-inWelcome">C#で作成されたCySharpのZLoggerをラップし簡易的に使用できるようにしたライブラリです</p>
    <a class="fade-inWelcome mt-1" target="_blank" href="https://github.com/johmaru/JLogger">Github</a>
</div>