@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<div class="text-center">
    <h1 class="display-4 fade-inWelcome">ようこそ！</h1>
    <p class="lead typewriter" data-text="主にC#を使用してWPFのアプリケーションを作成しています。F#やRustなども使用します。このサイトは、自分の作成したアプリケーションや、技術的なメモを公開しています。"></p>
   <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>