@{
    ViewData["Title"] = "Profile";
    var theme = ViewData["Theme"] as string;
    var bodyClass = theme == "Dark" ? "dark-mode" : "light-mode";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<Div class="text-center">
    <h1 class="fade-inWelcome">@ViewData["Title"]</h1>
        
        <h2 class="mt-5 text-twitter typewriter" data-text="(旧Twitter)">
            <img id="twitter-logo" src="" alt="" width="24" style="display: none" height="24">
        </h2>
        <a class="Twitter mt-2 text-twitter typewriter" data-text="X(旧Twitter)を開く" href="https://x.com/Johmaru_gamer" target="_blank" role="button"></a>
        <script>
        $(document).ready(function(){
            $(".Twitter").hover(function(){
                $(this).css("color", "text-blue");
            }, function(){
                $(this).css("color", "text-twitter");
            });
            
            const TwitterLink = document.querySelector(".Twitter");
            TwitterLink.addEventListener("click", function(){
                window.open("https://x.com/Johmaru_gamer", "_blank");
            });
        });
    
            </script>
</Div>