@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DataLibrary.User>

@{
    ViewData["Title"] = "ユーザープロフィール";
    var theme = ViewData["Theme"] as string;
    var bodyClass = theme == "Dark" ? "dark-mode" : "light-mode";
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var currentUser = Model?.FirstOrDefault(u => 
        u.Id == (currentUserId != null ? int.Parse(currentUserId) : 0));
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body class="@bodyClass">
<div class="text-center">
    <h2>ロール</h2>
    <p class="mt-1 text-decoration-underline">ロール: @currentUser?.Role</p>
    <h2 class="mt-3">ユーザープロフィール</h2>
    <p class="mt-1 text-decoration-underline">ユーザー名: @currentUser?.Name</p>
    <p class="mt-1 text-decoration-underline">メールアドレス: @currentUser?.Email</p>
</div>
</body>